form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 30vw;
    height: 50vh;
    margin: auto
}

img {
    width: 80%;
    height: auto;
}

h1 {
    font-size: 30px;
    text-align: center;
    user-select: none;
}

.footer {
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: auto auto;
    margin-top: 30px;
}